<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>CDCF79E4-32A3-4E5A-A590-D916E64B9A3E.playgroundpage</string>
		<string>A2220766-4979-4156-88AC-1A0694C1A1D2.playgroundpage</string>
	</array>
</dict>
</plist>
